.app
{

}
.border5
{
  border:5px solid darkslategray;
}

.noLeftBorder
{
  border-left: 0;
}
.noSidePadding
{
  padding-left: 0px !important;
  padding-right:0px !important;
}
.headingClass
{
  text-align:left;
color:rgb(195,204,207);
}
.textClass
{
  text-transform: uppercase;
  padding-left:20px;
  color:whitesmoke;
}
